Extract Transform Load (ETL)

In [1]:
import pandas as pd
import numpy as np

## Reading Data

In [3]:
# https://www.kaggle.com/datasets/jr2ngb/superstore-data
df_superstore = pd.read_csv("data/superstore_dataset2011-2015.csv", encoding = "ISO-8859-1")
print(df_superstore.shape)
df_superstore.head(2)

(51290, 24)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,42433,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium
1,22253,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium

In [4]:
df_customer_abt = (
    df_superstore
        .groupby('Customer ID')
        .agg(
            total_sales=('Sales', 'sum'),
            avg_ticket=('Sales', 'mean'),
            total_products=('Quantity', 'sum'),
            avg_produtcs_per_purchase=('Quantity', 'mean'),
            median_discount=('Discount', 'median'),
            avg_discount=('Discount', 'mean'),
            std_discount=('Discount', 'std'),
            total_profit=('Profit', 'sum'),
            avg_profit=('Profit', 'mean'),
            total_shipping_cost=('Shipping Cost', 'sum'),
            avg_shipping_cost=('Shipping Cost', 'mean'),
            segment=('Segment','max'),
            market=('Market', lambda x: x.mode()[0]),
            most_used_ship_mode=('Ship Mode', lambda x: x.mode()[0])
        ).reset_index()
)
print(df_customer_abt.shape)
df_customer_abt.head(2)

(1590, 15)

,Customer ID,total_sales,avg_ticket,total_products,avg_produtcs_per_purchase,median_discount,avg_discount,std_discount,total_profit,avg_profit,total_shipping_cost,avg_shipping_cost,segment,market,most_used_ship_mode
0,AA-10315,13747.413,327.319357,145,3.452381,0.0,0.103571,0.159034,447.6905,10.659298,1236.15,29.432143,Consumer,EU,Standard Class
1,AA-10375,5884.195,140.099881,139,3.309524,0.0,0.166667,0.218271,677.4774,16.130414,903.92,21.521905,Consumer,US,First Class

In [5]:
df_customer_abt.to_parquet("data/df_customer_abt.parquet")